.advantages {
	padding: 20px 0 28px;
	background-color: #FBFBFB;
	border-bottom: 1px solid rgba(163, 163, 163, 0.25);
}

.advantages__container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 1560px;
	margin: 0 auto;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: calc((100% - 250px) / 6);
}

.advantages__img {
	min-height: 80px;
	margin-bottom: 8px;
}

.advantages__desc {
	font-family: Roboto-Medium;
	font-size: 16px;
	line-height: 120%;
	color: #232323;
	margin: 0;
}