.catalog {
	position: relative;
	overflow: hidden;
}

.catalog__container {
	max-width: 1560px;
	margin: 0 auto;
}

.catalog__top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 60px;
}

.catalog-tabs {
	display: flex;
	align-items: flex-start;
}

.catalog-tabs__item {
	font-family: Panton-ExtraBold;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: 1.5px;
	color: #FFFFFF;
	opacity: 0.4;
	padding-bottom: 26px;
	border-bottom: 4px solid transparent;
	transition: 0.3s opacity, 0.3s border;
}

.catalog-tabs__item.-active {
	opacity: 1;
	border-bottom-color: #F7941D;
}

.catalog-tabs__item:not(:last-child) {
	margin-right: 58px;
}

.catalog__btn-filters {
	font-family: Roboto-Bold;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 294px;
	height: 50px;
	border-radius: 40px;
	border: 3px solid #F7941D;
	background-color: rgba(0, 0, 0, 0.6);
	transition: 0.3s background;
}

.catalog__btn-filters:hover {
	background-color: #F7941D;
}

.catalog__filters {
	display: none;
	margin-bottom: 40px;
}

.catalog__bottom {
	margin-bottom: 40px;
}

.catalog__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog__inner:not(.-active) {
	display: none;
}

.catalog-section__container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.catalog-section.-big {
	width: 100%;
	margin-bottom: 70px;
}

.catalog-section.-middle {
	width: calc((100% - 30px) / 2);
	margin-bottom: 50px;
}

.catalog-section.-small {
	width: calc((((100% - 30px) / 2) - 30px) / 2);
	margin-bottom: 50px;
}

.catalog-section__title {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 283px;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0 0 30px 0 rgba(173, 173, 173, 0.25);
	background-color: #FFFFFF;
	margin-bottom: 35px;
}

.catalog-section.-big .catalog-section__title {
	justify-content: flex-start;
}

.catalog-section__title img {
	max-height: 100%;
}

.catalog-section__title span {
	font-family: Panton-ExtraBold;
	font-size: 25px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
}

.catalog-section.-big .catalog-section__title img {
	margin-right: 11.5%;
	margin-left: 23%;
}

.catalog-section.-middle .catalog-section__title img {
	margin-right: 20px;
}

.catalog-section.-small .catalog-section__title img {
	margin-right: 20px;
}

.catalog-section__item {
	font-family: Roboto-Regular;
	font-size: 18px;
	line-height: 200%;
	color: #373432;
	width: 100%;	
}

.catalog-section__item span {
	font-family: Roboto-Bold;
	line-height: 200%;
}

.catalog-section.-big .catalog-section__item {
	width: calc((100% - 30px) / 2);
}

.catalog-section:not(.-small) .catalog-section__item {
	padding-right: 260px;
}

.catalog-section__more {
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	font-family: Roboto-Bold;
	font-size: 18px;
	line-height: 180%;
	color: #F7941D;
}

.catalog-section__more img {
	width: 13px;
	margin-left: 14px;
}

.catalog-section__more:hover {
	text-decoration: underline;
}

.filters__form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 45px;
}

.filters__left {
	padding: 50px 40px 0 80px;
	width: calc(33% - 15px);
	height: 370px;
	background-color: #FFFFFF;
	box-shadow: 0 0 30px 0 rgba(173, 173, 173, 0.25);
	border-radius: 5px;
	overflow: auto;
	margin-bottom: 20px;
}

.filters__left .simplebar-track.simplebar-vertical {
	width: 8px;
	height: calc(100% - 80px);
	left: 40px;
	right: auto;	
	top: 50px;
	bottom: auto;
	border-radius: 10px;
	background-color: #F1F1F1;
}

.filters__left .simplebar-track.simplebar-vertical .simplebar-scrollbar,
.filters__left .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	width: 8px;
	opacity: 1;
	border-radius: 10px;
	background-color: #F7941D;
}

.filters__right {	
	padding: 70px 0 40px 50px;
	width: calc(67% - 15px);
	height: 370px;
	background-color: #FFFFFF;
	box-shadow: 0 0 30px 0 rgba(173, 173, 173, 0.25);
	border-radius: 5px;
	overflow: auto;	
	margin-bottom: 20px;
}

.filters__right .simplebar-content {
	display: flex;
}

.filters__right .simplebar-track.simplebar-vertical {
	display: none;
}

.filters__right .simplebar-track.simplebar-horizontal {
	left: 50px;
    top: 40px;
    right: auto;
    bottom: auto;
    height: 8px;
    width: calc(100% - 115px);
    border-radius: 10px;
	background-color: #F1F1F1;
}

.filters__right .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
	top: 0;
}

.filters__right .simplebar-track.simplebar-horizontal .simplebar-scrollbar,
.filters__right .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
	height: 8px;
	opacity: 1;
	border-radius: 10px;
	background-color: #F7941D;
}

.filters__item:not(:last-child) {
	margin-bottom: 20px;
}

.filters__title {
	display: block;
	font-family: Panton-ExtraBold;
	font-size: 25px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin-bottom: 20px;
}

.filters__checkbox {
	max-width: 280px;
	margin-bottom: 15px;
	user-select: none;
}

.filters__checkbox input[type="checkbox"] {
	display: none;
}

.filters__checkbox label {
	position: relative;
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	padding-left: 46px;
	cursor: pointer;
}

.filters__checkbox label::before {
	content: "";
	position: absolute;
	left: 0;
	top: -1px;
	width: 26px;
	height: 26px;
	background-color: #F1F1F1;
	background-position: center;
	transition: 0.3s background;
}

.filters__checkbox input:checked + label::before {
	background-color: #F7941D;
	background-image: url(../img/checkbox.svg);
	background-size: 16px 11px;	
	background-repeat: no-repeat;
}

.filters__col {
	flex-shrink: 0;
	padding-right: 60px;
}

.filters__input {
	display: flex;
	align-items: flex-end;
	margin-bottom: 15px;
}

.filters__name {
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin-right: 7px;
	max-width: 100px;
	width: 100%;
}

.filters__values {
	display: flex;
	align-items: flex-end;
}

.filters__values span {
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin-right: 10px;
}

.filters__values input {
	text-align: center;
	width: 70px;
	height: 26px;
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #F7941D;
	border: none;
	background-color: #F1F1F1;
	margin-right: 10px;
}

.filters__values input:last-child {
	margin-right: 0;
}

.filters__checks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filters__checkbox-img {
	width: calc((100% - 150px) / 7);
	margin-bottom: 30px;
	user-select: none;	
}

.filters__checkbox-img input[type="checkbox"] {
	display: none;
}

.filters__checkbox-img label {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	min-height: 170px;
	padding: 20px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 0 30px 0 rgba(173, 173, 173, 0.25);
	border: 2px solid transparent;
	transition: 0.3s border;
	cursor: pointer;
}

.filters__checkbox-img input[type="checkbox"]:checked + label {
	border-color: #F7941D;
}

.filters__checkbox-img label span {
	display: block;
	font-family: Roboto-Bold;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

.filters__reset {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-family: Roboto-Bold;
	font-size: 18px;
	letter-spacing: 0.8px;
	color: #F7941D;
	width: 200px;
	height: 50px;
	border: 3px solid #F7941D;
	border-radius: 40px;
	background-color: #ffffff;
	transition: 0.3s background, 0.3s color;
	margin-left: auto;
	margin-right: 25px;
	cursor: pointer;
}

.filters__reset .img {
	width: 15px;
	height: 15px;
	-webkit-mask-image: url(../img/filters-reset.svg);
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	background-color: #F7941D;
	transition: 0.3s background;
	margin-right: 15px;
}

.filters__reset:hover {
	background-color: #F7941D;
	color: #ffffff;
}

.filters__reset:hover .img {
	background-color: #ffffff;
}

.filters__accept {
	font-family: Roboto-Bold;
	font-size: 18px;
	letter-spacing: 0.8px;
	color: #ffffff;
	padding: 14px 48px;
	border: 3px solid #F7941D;
	border-radius: 40px;
	background-color: #F7941D;
	transition: 0.3s background, 0.3s color;
	cursor: pointer;
}

.filters__accept:hover {
	background-color: #ffffff;
	color: #F7941D;
}

.catalog__table {
	padding: 0 30px;
	margin: 0 -30px;
	overflow: auto;
}

.catalog__table .simplebar-track.simplebar-horizontal {
	height: 8px;
	border-radius: 10px;
	background-color: #F1F1F1;
}

.catalog__table .simplebar-track.simplebar-horizontal .simplebar-scrollbar,
.catalog__table .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
	height: 100%;
	border-radius: 10px;
	background-color: #F7941D;
}

.catalog__table .table__body-item {
	padding-top: 30px;
	padding-bottom: 40px;
}

.catalog__table .table__th.-cost {
	white-space: nowrap;
}

.catalog__table .table__th.-cost,
.catalog__table .table__td.-cost {
	max-width: 9.6%;
	text-align: left;
}

.catalog__table .table__td.-cost {
	font-family: Roboto-Regular;
    font-size: 18px;
    color: #797979;
    line-height: 120%;
    letter-spacing: 0.8px;
}

.catalog__table .table__td.-material,
.catalog__table .table__td.-availability,
.catalog__table .table__td.-cost {
	min-height: 112px;
}

.catalog__table .table__show-more {
	max-width: 200px;
	text-decoration: none;
}

.catalog__table .table__show-more::after {
	content: "";
	position: relative;
	display: inline-block;
	margin-left: 15px;
	width: 18px;
    height: 8.5px;
	background-image: url(../img/catalog-more.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1400px) {
	.filters__checkbox-img {
		width: calc((100% - 75px) / 4);
	}
	.filters__checks {
		justify-content: flex-start;
	}
	.filters__checkbox-img:not(:nth-child(4n)) {
		margin-right: 25px;
	}
}

@media screen and (max-width: 1200px) {
	.catalog__bottom {
		margin-bottom: 20px;
	}
	.catalog-section.-big,
	.catalog-section.-middle,
	.catalog-section.-small {
		width: 100%;
		margin-bottom: 30px;
	}
	.catalog-section.-big .catalog-section__title img {
		margin: 0 20px 0 0;
	}
	.catalog-section.-big .catalog-section__title {
		justify-content: center;
	}
	.catalog-section__title {
		height: 150px;
	}
}

@media screen and (max-width: 991px) {
	.filters-price {
		display: block;
		position: relative;
		margin-bottom: 15px;
	}
	.filters-price .curr {
		position: relative;
		font-family: Roboto-Regular;
		font-size: 16px;
		line-height: 120%;
		letter-spacing: 0.8px;
		color: #F7941D;
	}
	.filters-price .curr::after {
		content: "";
		position: relative;
		display: inline-block;
		margin-left: 10px;
		width: 18px;
		height: 8.5px;
		background-image: url(../img/catalog-more.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(180deg);
	}
	.filters-price .curr.-increase::after {
		transform: rotate(180deg);
	}
	.filters-price .curr.-decrease::after {
		transform: rotate(0deg);
	}
	.filters-price__list {
		position: absolute;
		display: none;
		flex-direction: column;
		padding: 30px 20px;
		left: 0;
		top: calc(100% + 10px);
		background-color: #FFFFFF;
		border-radius: 5px;
		box-shadow: 0 0 30px 0 rgba(173, 173, 173, 0.25);
		text-align: center;
		z-index: 1;
	}
	.filters-price__list.-active {
		display: flex;
	}
	.filters-price__list span {
		font-family: Roboto-Regular;
		font-size: 16px;
		line-height: 120%;
		letter-spacing: 0.8px;
		color: #000000;
	}
	.filters-price__list span:not(:last-child) {
		margin-bottom: 15px;
	}
	.filters__left .simplebar-track.simplebar-vertical,
	.filters__left .simplebar-track.simplebar-horizontal,
	.filters__right .simplebar-track.simplebar-horizontal,
	.filters__right .simplebar-track.simplebar-vertical {
		display: none;
	}
	.filters {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.filters__form {
		padding: 25px 15px;
		margin: 0;
	}
	.filters__left,
	.filters__right {
		width: 100%;
		height: auto;
		box-shadow: none;
	}
	.filters__left,
	.filters__right {
		padding: 0;
	}
	.filters__reset {
		width: 100%;
		height: 40px;
		margin-right: 0;
		order: 1;
		border-width: 1px;
		margin-bottom: 20px;
	}
	.filters__checkbox:last-child,
	.filters__input:last-child {
		margin-bottom: 0;
	}
	.filters__col {
		padding-right: 0;
	}
	.filters__col:not(:last-child) {
		margin-bottom: 20px;
	}
	.filters__left {
		order: 2;
	}
	.filters__right {		
		order: 3;
	}
	.filters__right .simplebar-content {
		flex-direction: column;
	}
	.filters__checks {
		order: 4;
	}
	.filters__accept {
		order: 5;
		width: 100%;
		height: 40px;
		padding: 0;
		border-width: 1px;
	}

}

@media screen and (max-width: 960px) {
	.catalog-slider__link {
		max-width: 100%;
		height: 54px;
		font-size: 18px;
	}
	.catalog__top {
		flex-direction: column;
	}
	.catalog-tabs {
		margin-bottom: 30px;
	}
	.catalog-tabs__item:not(:last-child) {
		margin-right: 25px;
	}
	.catalog__btn-filters {
		width: 100%;
		height: 40px;
	}
	.catalog-slider__title,
	.catalog-slider__desc {
		max-width: 100%;
	}
	.catalog-section.-big .catalog-section__item {
		width: 100%;
	}
	.filters__checks {
		justify-content: space-between;
	}
	.filters__checkbox-img {
		width: calc((100% - 25px) / 2);
	}
	.filters__checkbox-img:nth-child(n) {
		margin-right: 0;
	}
}

@media screen and (max-width: 600px) {
	.catalog-slider .slick-dots {
		top: 140px;
	}
	.catalog-slider .slick-dots li {
		width: 5px;
		height: 5px;
	}
	.catalog-slider .slick-dots li:not(:last-child) {
		margin-right: 8px;
	}
	.catalog-slider__item {
		min-height: 1px;
		padding: 165px 0 254px;
	}
	.catalog-section__more {
		display: none;
	}
	.catalog-section:not(.-small) .catalog-section__item {
		padding-right: 0;
	}
	.filters__checks {
		margin-bottom: 10px;
	}
	.filters__checkbox-img {
		width: 100%;	
		margin-bottom: 10px;	
	}
	.filters__checkbox-img label {
		flex-wrap: nowrap;
		min-height: 1px;
		height: 46px;
		padding: 10px 15px;
		align-items: center;
		justify-content: space-between;
	}
	.filters__checkbox-img label img {
		margin-left: 10px;
		height: 100%;
	}
	.filters__checkbox-img label span {
		text-align: left;
		margin: 0;
	}
}

@media screen and (max-width: 475px) {
	.catalog-slider .slick-dots {
		top: 130px;
	}
	.catalog-slider__title {
		font-size: 22px;
		margin-bottom: 13px;
	}
	.catalog-slider__desc {
		font-size: 12px;
		margin-bottom: 30px;
	}
	.catalog-tabs__item {
		padding-bottom: 16px;	
	}
	.catalog-tabs__item,
	.catalog__btn-filters {
		font-size: 15px;
	}
	.catalog__top {
		margin-bottom: 30px;
	}	
}

@media screen and (max-width: 375px) {
	.catalog-section__title {
		height: 130px;
		padding: 20px 15px;
		margin-bottom: 30px;
	}
	.catalog-section__title span {
		font-size: 15px;
	}
	.catalog-section__item {
		font-family: Roboto-Light;
		font-size: 9.8px;
		line-height: 120%;
	}
	.catalog-section__item span {
		line-height: 120%;
	}
	.filters__reset,
	.filters__accept {
		font-size: 15px;
	}
	.filters__reset .img {
		width: 12px;
		height: 12px;
	}
	.filters__title {
		font-size: 15px;
		margin-bottom: 10px;
	}
	.filters__checkbox label::before {
		width: 15px;
		height: 15px;
	}
	.filters__checkbox label {
		font-size: 12px;
		padding-left: 25px;
	}
	.filters__input {
		margin-bottom: 4px;
	}
	.filters__values input {
		height: 20px;
	}	
	.filters__name,
	.filters__values span {
		font-size: 12px;
	}
	.filters__values span,
	.filters__values input {
		margin-right: 5px;
	}
	.filters__checkbox-img label span {
		font-size: 13px;
	}
}