.services-single {
	padding: 180px 0 105px;
	overflow: hidden;
}

.services-single__container {
	max-width: 1560px;
	margin: 0 auto;
}

.services-single__container-extra {
	max-width: 1400px;
}

.services-single__title {
	font-family: Panton-ExtraBold;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin: 43px 0 40px;
}

.services-single__p {
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin: 0 0 25px;
}

.services-single__p strong {
	font-family: Roboto-Bold;
}

.services-hint {	
	display: flex;
	align-items: center;
	padding: 60px 50px;
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 0 30px 0 rgba(149, 149, 149, 0.25);
	margin: 50px 0 35px;
}

.services-hint img {
	max-width: 60px;
	width: 100%;
	margin-right: 40px;
}

.services-hint__title {
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	max-width: 40%;
	width: 100%;
	margin-right: 50px;
}

.services-hint__cost {
	flex-shrink: 0;
	font-family: Roboto-Bold;
	font-size: 25px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin-right: 50px;
}

.services-hint__btn {
	background-color: #F7941D;
	color: #FFFFFF;
	height: 60px;
	max-width: 360px;
	margin-right: 35px;
}

.services-hint__btn:hover {
	background-color: transparent;
	color: #F7941D;
}

.services-hint__question {
	flex-shrink: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: #F7941D;
}

.services-hint__question:hover {
	color: #FFFFFF;
}

.services-order {
	padding-top: 35px;
}

.services-order__title {
	font-family: Panton-ExtraBold;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	text-align: center;
	margin: 0 0 50px;
}

.services-order__list {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 25px 0;
}

.services-order__list::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	width: 100vw;
	height: 100%;
	transform: translateX(-50%);
	background-color: #FBFBFB;
	z-index: -1;
}

.services-order__item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: calc((100% - 450px) / 4);
}

.services-order__item:not(:last-child)::after {
	content: "";
	position: absolute;
	left: calc(100% + 53px);
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 44px;
	height: 16px;
	background-image: url(../img/order-arrow.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.services-order__name {
	font-family: Panton-ExtraBold;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin: 0 0 20px;
}

.services-order__desc {
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin: 0 0 20px;
}

.services-order__img {
	width: 100%;
	max-width: 70px;
}

.services-single__tabs {
	padding-top: 64px;
}

.services-single__tabs .tabs__header {
	margin-bottom: 40px;
}

.services-single__h4 {
	font-family: Roboto-Bold;
	font-size: 25px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin: 0 0 30px;
}

.services-single__ul {
	padding: 0;
	margin: 0 0 25px;
}

.services-single__ul li {
	position: relative;
	list-style: none;
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
	margin: 0;
	padding: 0 0 0 20px;
}

.services-single__ul li::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 8.5px;
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #373432;
}

.services-table {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 80px;
}

.services-table__thead {
	padding: 13px 25px;
	background-color: #F7941D;
	border-radius: 5px;
}

.services-table__tr {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.services-table__td {
	width: calc((100% - 240px) / 5);
	text-align: center;
}

.services-table__thead .services-table__td {
	font-family: Roboto-Medium;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #FFFFFF;
}

.services-table__tbody .services-table__tr {
	padding: 23px 25px;
}

.services-table__tbody .services-table__tr:nth-child(2n) {
	background-color: #FBFBFB;
}

.services-table__tbody .services-table__td {
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #373432;
}

.services-feedback {
	padding: 80px 0 120px;
	background-color: #3F3A38;
}

.services-feedback__container {
	max-width: 1560px;
	margin: 0 auto;
}

.services-feedback__title {
	font-family: Panton-ExtraBold;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #F7941D;
	margin: 0 0 100px;
}

.services-feedback__form {
	display: flex;
	align-items: flex-end;
}

.services-feedback__column {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.services-feedback__column:nth-child(1) {
	max-width: 1140px;
	margin-right: 6.15%;
}

.services-feedback__column:nth-child(2) {
	flex-direction: column;
	max-width: 360px;
}

.services-feedback__fields {
	max-width: 490px;
	width: 100%;
}

.services-feedback__fields:nth-child(1) {
	margin-right: 14%;
}

.services-feedback__input,
.services-feedback__textarea {
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: rgba(255, 255, 255, 0.6);
	border: none;
	background: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 34px;
	padding: 0 0 10px;
	transition: 0.3s border;
}

.services-feedback__input:focus,
.services-feedback__textarea:focus {
	border-bottom-color: #F7941D;
}

.services-feedback__textarea {
	height: 118px;
	resize: none;
	margin-bottom: 50px;
}

.services-feedback__input::placeholder,
.services-feedback__textarea::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.services-feedback__input:not(:last-child) {
	margin-bottom: 50px;
}

.services-feedback__checkboxes {
	display: flex;
	flex-direction: column;
}

.services-feedback__checkboxes input[type="checkbox"] {
	display: none;
}

.services-feedback__span {
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: rgba(255, 255, 255, 0.6);
	margin: 0 0 16px;
}

.services-feedback__label {
	position: relative;
	padding-left: 30px;
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 20px;
	cursor: pointer;
}

.services-feedback__label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border-radius: 1px;
	background-color: #E3E3E3;
	background-position: center;
	transition: 0.3s background;
}

.services-feedback__checkboxes input[type="checkbox"]:checked + .services-feedback__label::before {
	background-color: #F7941D;
	background-image: url(../img/checkbox.svg);
	background-repeat: no-repeat;
	background-size: 16px 11px;
}

.services-feedback__label:last-child {
	margin-bottom: 0;
}

#services-feedback__file {
	display: none;
}

#services-feedback__file + label {
	position: relative;
	padding-left: 31px;
	display: flex;
	align-items: center;
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.8px;
	color: #FFFFFF;
	text-decoration: underline;
	transition: 0.3s color;
	cursor: pointer;
	margin-bottom: 24px;
}

#services-feedback__file + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 22px;
	background-image: url(../img/staple.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#services-feedback__file + label:hover {
	color: #F7941D;
}

.services-feedback__submit {
	width: 100%;
	font-size: 20px;
	background-color: transparent;
	border-width: 2px;
	cursor: pointer;
}

@media screen and (max-width: 1175px) {
	.services-hint {
		flex-wrap: wrap;
		align-items: flex-start;
	}
	.services-hint__title {
		margin-right: 0;
		max-width: calc(100% - 100px);
	}
	.services-hint__cost {
		width: 100%;
		text-align: center;
		margin: 20px auto;
	}
	.services-hint__btn {
		margin-left: auto;
	}
	.services-hint__question {
		margin-right: auto;
	}
	.services-order__list {
		flex-direction: column;
	}
	.services-order__item {
		width: 100%;
	}
	.services-order__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 100px;
	}
	.services-order__item:not(:last-child)::after {
		width: 10px;
		height: 42px;
		left: 50%;
		top: calc(100% + 30px);
		transform: translateX(-50%);
		background-image: url(../img/order-arrow-mobile.svg);
	}
}

@media screen and (max-width: 1024px) {
	.services-feedback__form {
		flex-direction: column;
	}
	.services-feedback__column:nth-child(1) {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.services-feedback__column:nth-child(2) {
		margin: 0 auto;
		align-items: center;
	}
}

@media screen and (max-width: 991px) {
	.services-single {
		padding: 110px 0 50px;
	}
	.services-table {
		flex-direction: row;
		overflow: auto;
	}
	.services-table__thead .services-table__tr,
	.services-table__tbody {
		display: flex;
		flex-direction: column;
	}
	.services-table__thead {
		flex-shrink: 0;
		padding: 0;
		border-radius: 5px 0 0 5px;
	}
	.services-table__tbody {
		flex-grow: 1;
		min-width: 750px;
	}
	.services-table__thead .services-table__td {
		width: 100%;
		text-align: left;
		font-size: 18px;
	}
	.services-table__tbody .services-table__tr {
		padding: 0;
	}
	.services-table__thead .services-table__td,
	.services-table__tbody .services-table__td {
		padding: 10px;
		font-family: Roboto-Regular;
		font-size: 18px;
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.services-hint {
		padding: 30px 20px;
	}
	.services-hint__btn {
		max-width: 260px;
		margin-right: 15px;
	}
	.services-feedback__column:nth-child(1) {
		flex-direction: column;
	}
	.services-feedback__fields {
		max-width: 100%;
	}
	.services-feedback__fields:nth-child(1) {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 475px) {
	.services-hint img {
		max-width: 30px;
		margin-right: 20px;
	}
	.services-hint__title {
		max-width: calc(100% - 50px);
	}
	.services-hint__btn {
		height: 40px;
		max-width: 220px;
	}
	.services-hint__question {
		width: 40px;
		height: 40px;
	}
	.services-hint__btn,
	.services-hint__question {
		font-size: 20px;
		border-width: 1px;
	}
	.services-single__tabs .tabs__item-head {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		font-size: 15px;
		border-radius: 5px;
	}
	.services-single__tabs .tabs__item-head:nth-child(1) {
		width: 31%;
		margin-right: 5px;
	}
	.services-single__tabs .tabs__item-head:nth-child(2) {
		width: 24.1%;
		margin-right: 5px;
	}
	.services-single__tabs .tabs__item-head:nth-child(3) {
		width: calc(44.9% - 10px);
	}
	.services-single__tabs .tabs__header {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 375px) {
	.services-table__thead {
		max-width: 150px;
	}
	.services-table__thead .services-table__td, 
	.services-table__tbody .services-table__td {
		font-size: 12px;
	}
	.services-table__tbody .services-table__tr:nth-child(1) .services-table__td {
		height: 48px;
	}
	.services-table__tbody .services-table__tr:nth-child(2) .services-table__td {
		height: 62px;
	}
	.services-table__tbody .services-table__tr:nth-child(3) .services-table__td {
		height: 62px;
	}
	.services-table__tbody .services-table__tr:nth-child(4) .services-table__td {
		height: 34px;
	}
	.services-table__tbody .services-table__tr:nth-child(5) .services-table__td {
		height: 48px;
	}
	.services-single__title {
		margin: 30px 0;
		font-size: 22px;
	}
	.services-single__p {
		font-size: 15px;
		margin-bottom: 20px;
	}
	.services-hint {
		margin: 30px 0;
	}
	.services-hint__title {
		font-size: 15px;
	}
	.services-hint__cost {
		font-size: 20px;
	}
	.services-hint__btn {
		max-width: 200px;
		font-size: 15px;
	}
	.services-order {
		padding-top: 30px;
	}
	.services-order__title {
		font-size: 20px;
		margin-bottom: 30px;
	}
	.services-order__list {
		padding: 0;
	}
	.services-order__name {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.services-order__desc {
		font-size: 15px;
		margin-bottom: 20px;
	}
	.services-order__img {
		max-width: 40px;
	}
	.services-single__tabs {
		padding-top: 80px;
	}
	.services-single__tabs .tabs__item-head {
		font-size: 10px;
	}
	.services-single__h4 {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.services-single__ul {
		margin-bottom: 20px;
	}
	.services-single__ul li {
		font-size: 15px;
		padding-left: 20px;
	}
	.services-single__ul li:not(:last-child) {
		margin-bottom: 20px;
	}
	.services-single__ul li::before {
		width: 2px;
		height: 2px;
		top: 8px;
		left: 8px;
	}
	.services-table {
		margin: 50px 0;
	}
	.services-single {
		padding-bottom: 30px;
	}
	.services-feedback {
		padding: 50px 0;
	}
	.services-feedback__title {
		font-size: 25px;
		text-align: center;
		margin-bottom: 40px;
	}
	.services-feedback__input {
		height: 28px;
		font-size: 15px;
	}
	.services-feedback__input:not(:last-child) {
		margin-bottom: 30px;
	}
	.services-feedback__textarea {
		height: 98px;
		font-size: 15px;
		margin-bottom: 30px;
	}
	.services-feedback__span {
		font-size: 15px;
		color: rgba(255, 255, 255, 0.5);
		margin-bottom: 20px;
	}
	.services-feedback__label {
		font-size: 15px;
		color: rgba(255, 255, 255, 0.5);
		margin-bottom: 10px;
	}
	.services-feedback__label::before {
		width: 15px;
		height: 15px;
	}
	.services-feedback__checkboxes input[type="checkbox"]:checked + .services-feedback__label::before {
		background-size: 11px 7px;
	}
	#services-feedback__file + label {
		font-size: 15px;
		margin-bottom: 15px;
	}
	#services-feedback__file + label::before {
		width: 16px;
		height: 18px;
	}
	.services-feedback__submit {
		font-size: 15px;
	}
	.services-hint {
		padding: 30px 15px;
	}
}